<form asp-action="Create" method="post">
    <div class="from-group">
        <label>File NAME</label>
        <input type="text" name="fileName" class="form-control"/>
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-danger">Create new file in HMD folder</button>
    </div>
</form>