<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <p>
            Session view is working <br />
            Session value is =  @ViewBag.Session
        </p>

    </body>
</html>