@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Dosya  ismi</label>
        <input type="text" name="folderName" class="form-control" />
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-danger">SAVE</button>
    </div>
</form>