@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using RepeatOperationForAspNet.Models
@model Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <title>Create new Student</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css " rel="stylesheet">

</head>

<body>
    <div class="container">
        <h3>Create Customer</h3>

        <form asp-controller="Home" asp-action="Create" method="post">
            <div class="form-group">
                <label>Enter Student Name</label>
                <input type="text" name="studentName" class="form-control" asp-for="@Model.StudentName" />
            </div>

            <div class="form-group">
                <label>Enter Student Last Name</label>
                <input type="text" name="studentLastName" class="form-control"  asp-for="@Model.StudentLastName"/>
            </div>
            <div class="form-group">
                <label>Enter Student Grade</label>
                <input type="text" name="studentGrade" class="form-control" asp-for="@Model.StudentGrade" />
            </div>

            <div class="from-group text-right">
                <button type="submit" class="btn btn-danger">Create new Student</button>
            </div>

        </form>
    </div>
</body>
</html>