@model List<RepeatOperationForAspNet.Models.Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<html>
    <head>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css " rel="stylesheet">


    </head>

    
    <body>
        <a href="/Home/Create">Add New Student</a>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Student Last Name</th>
                    <th>Student Age</th>
                    <th>Student Grade</th>
                </tr>
            </thead>

            <tbody>
            @foreach(var student in Model)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.StudentName</td>
                    <td>@student.StudentLastName</td>
                    <td>@student.StudentGrade</td>
                    <td>
                        <a href="/Home/Update/@student.StudentId">Update Student</a>
                        <a href="/Home/Delete/@student.StudentId">Delete Student</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </body>
</html>