<html>
<head>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.cs" />
</head>
<body>
    <div class="center">
        <h1 class="text-danger">HMD SS </h1>
    </div>

</body>
</html>