@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Create Customer</title>
        <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>

    
    <body>
        <div class="container">
            <h3>Create Customer</h3>

        <form asp-action="CreateWithForm" asp-controller="Home" method="post">
                <div class="form-group">
                    <label>Customer Name:</label>
                    <input type="text" name="firstName" class="form-control"/>

                </div>

                <div class="form-group">
                    <label>Customer Last Name:</label>
                    <input type="text" name="lastName" class="form-control" />

                </div>

                <div class="form-group">
                    <label>Customer Age:</label>
                    <input type="text" name="Age" class="form-control" />

                </div>

                <div class="form-group text-right">
                    <button type="submit"  class="btn btn-primary">Create </button>
                </div>


        </form>

        </div>

    </body>
</html>