@model List<middleware_edit.Models.CustomerModel>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Table</title>
    @* <link href="~/css/style.css" rel="stylesheet" /> *@

    @* <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> *@
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <h3>Customer List</h3>
        <a href="/Home/Create">Ekle</a>
        <table class="table table-hover table-bordered">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>
                    <td>
                        <a href="/Home/Update/@item.Id">Update</a>
                        <a href="/Home/Delete/@item.Id">Delete</a>
                    </td>

                </tr>
            }

        </table>
    </div>



</body>
</html>

