@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">There are some error in HERE</h2>
<div class="text-center lead">
    <h1>Threre is no page that you have searched <a asp-action="Index" >Go back to Home Page index</a></h1>
</div>