@model DirectoryInfo[]
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>Ad</th>
            <th>Oluşturulma Tarihi</th>
            <th>Path</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Name</td>
                <td>@item.CreationTime</td>
                <td>@item.FullName</td>
            </tr>
        }
    </tbody>
</table>