<form asp-action="Create" method="post" asp-controller="Folder">
    <div class="from-group">
        <label>New Folder Name</label>
        <input type="text" name="FolderName" class="form-control" />

    </div>

    <div class="form-group text-right" >
        <button type="submit" class="btn btn-primary"> Create new Folder</button>
    </div>
</form>